.globalHeader {
}

.globalHeaderInner {
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
}

.flexFill {
    flex: 1;
}

.nav {
    display: flex;
}

.nav > a {
    display: block;
    text-decoration: unset;
}

@media all and (max-width: 800px) {
    .globalHeaderInner {
        flex-direction: column;
    }

    .nav {
        justify-content: center;
        padding: 0 0.6em;
    }

    .nav > a {
        margin: 0 0.6em;
    }
}

@media all and (min-width: 800px) {
    .globalHeaderInner {
        flex-direction: row;
    }

    .nav {
        align-items: center;
    }

    .nav > a:not(:last-child) {
        margin-right: 1.2em;
    }
}
