.container {
    padding: 0 1em;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
    margin: unset;
    padding: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    font-weight: unset;
    color: #000;
}

.container table {
    border-collapse: collapse;
}

.container table,
.container th,
.container td {
    border-color: #eee;
    padding: 0.5em 1em;
}
