.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 1em;
}

.container h1,
.container h2,
.container h3,
.container h4,
.container h5,
.container h6 {
    margin: unset;
    padding: unset;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    font-weight: unset;
    color: #000;
}

.container table {
    border-collapse: collapse;
}

.container table,
.container th,
.container td {
    border-color: #eee;
    padding: 0.5em 1em;
}

.section {
    margin-top: 4em;
    margin-bottom: 6em;
}

.heroImage {
    display: block;
    margin: 2em 0;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    
    box-shadow: 0 3px 10px #eee;
    background-color: #eee;
}

@media (min-width: 700px) {
    .heroImage {
        height: 21em;
    }
}

@media (max-width: 700px) {
    .heroImage {
        height: 15em;
    }
}
