.index {
    padding-left: 10px;
}

.index h1,
.index h2,
.index h3,
.index h4,
.index h5,
.index h6 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.index th {
    text-align: start;
}

.index td,
.index th {
    padding: .5em 1em;
}

.details th {
    max-width: 16em;
}

.infomark {
    display: inline-block;
    width: .7em;
    vertical-align: super;
    margin-left: .3em;
}

.locales {
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, .9);
    text-align: right;
    padding: 5px 10px;
}

.github {
    position: sticky;
    bottom: 0;
    padding: 15px;
    text-align: right;
}

.github a {
    color: rgba(0, 0, 0, .5);
}

.github svg {
    width: 1.5em;
}
