.index {
    padding-left: 10px;
}

.index h1,
.index h2,
.index h3,
.index h4,
.index h5,
.index h6 {
    margin-top: 10px;
    margin-bottom: 5px;
}

.index th {
    text-align: start;
}

.index td,
.index th {
    padding: .5em 1em;
}

.details th {
    max-width: 16em;
}

.infomark {
    display: inline-block;
    width: .7em;
    vertical-align: super;
    margin-left: .3em;
}