.sectionHeader {
    position: relative;
    font-weight: 900;
    margin-bottom: 2em;
}

.sectionHeader > * {
    font-size: 3.5em;
    line-height: 1.5em;
    letter-spacing: 0.075em;
}

.sectionHeader span {
    position: absolute;
    top: 0;
    left: 0;
    color: #eee;

    margin-top: -0.25em;
    margin-left: -0.5em;
}

.sectionHeader h1 {
    position: relative;
}

@media (min-width: 1000px) {
    .sectionHeader {
        margin-left: -3em;
    }
}
